<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="http://www.sucai8.cn/jquery/bootstrap-4.2.1.css">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.theme.default.min.css') }}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/boxicons.min.css') }}"> 
		<!-- Magnific Popup Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.min.css') }}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.min.css') }}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/odometer.min.css') }}">
		<!-- Date Picker CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/date-picker.min.css') }}">
		<!-- Muli Fonts Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/muli-fonts.css') }}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/images/favicon.png">
		<!-- Title -->
		<title>Jubi - Job Board HTML Template</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		{% include "/heng.html" %}

		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Contact Us</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>
						<li class="active">Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Map Area -->
		<div class="map-area">
			<iframe src="https://ditu.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d96573.31103677512!2d-73.91097364659048!3d40.85176866827226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c28b553a697cb1%3A0x556e43a78ff15c77!2sThe%20Bronx%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1604988979984!5m2!1sen!2sbd"></iframe>
		</div>
		<!-- End Map Area -->

		<!-- Start Contact Area -->
		<section class="main-contact-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<h3>Contact Form</h3>
						<form id="contactForm">
							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Your Name</label>
										<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name">
										<div class="help-block with-errors"></div>
									</div>
								</div>
	
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Your Email</label>
										<input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email">
										<div class="help-block with-errors"></div>
									</div>
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Your Phone</label>
										<input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control">
										<div class="help-block with-errors"></div>
									</div>
								</div>
	
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Subject</label>
										<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
										<div class="help-block with-errors"></div>
									</div>
								</div>
	
								<div class="col-12">
									<div class="form-group">
										<label>Your Message</label>
										<textarea name="message" class="form-control" id="message" cols="30" rows="10" required data-error="Write your message"></textarea>
										<div class="help-block with-errors"></div>
									</div>
								</div>

								<div class="col-lg-12 col-md-12">
									<div class="form-group checkboxs">
										<input type="checkbox" id="chb2">
										<p>
											Accept <a href="terms-conditions.html">Terms &amp; Conditions</a> And <a href="privacy-policy.html">Privacy Policy.</a>
										</p>
									</div>
								</div>
	
								<div class="col-lg-12 col-md-12">
									<button type="submit" class="default-btn">
										<span>Send Message</span>
									</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
									<div class="clearfix"></div>
								</div>
							</div>
						</form>
					</div>

					<div class="col-lg-4">
						<div class="contact-info">
							<h3>Contact Information</h3>

							<ul class="address">
								<li>
									<i class="bx bx-phone-call"></i>
									<span>Phone</span>
									<a href="tel:+1-(514)-7939-357">+1 (514) 7939-357</a>
								</li>
								<li>
									<i class="bx bx-envelope"></i>
									<span>Email</span>
									<a href="mailto:hello@jubi.com">hello@jubi.com</a>
								</li>
								<li class="location">
									<i class="bx bx-location-plus"></i>
									<span>Address</span>
									6890 Blvd, The Bronx, NY 1058 New York, USA
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact Area -->

		<!-- Start Subscribe Area -->
		<section class="subscribe-area subscribe-area-about-page">
			<div class="container">
				<div class="subscribe-bg">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="subscribe-content">
								<h2>Find Your Next Great Job Opportunity!</h2>
							</div>
						</div>
	
						<div class="col-lg-6">
							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
	
								<button class="default-btn" type="submit">
									<span>Subscribe</span>
								</button>
	
								<div id="validator-newsletter" class="form-result"></div>
								<p>Join The Newsletter 10,000 Users Already!</p>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Subscribe Area -->

		{% include "/footer.html" %}

		<!-- Start Copy Right Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>
					© 2020 Jubi Is Proudly Created By
					<a href="#">EnvyTheme</a>
				</p>
			</div>
		</div>
		<!-- End Copy Right Area -->
		
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="bx bx-chevrons-up"></i>
			<i class="bx bx-chevrons-up"></i>
		</div>
		<!-- End Go Top Area -->
		

        <!-- Jquery Min JS -->
        <script src="http://www.sucai8.cn/jquery/jquery-1.10.2.js"></script>
        <!-- Popper Min JS -->
        <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
        <!-- Bootstrap Min JS -->
        <script src="http://www.sucai8.cn/jquery/bootstrap-4.2.1.js"></script>
        <!-- Meanmenu Min JS -->
		<script src="{{ url_for('static', filename='assets/js/meanmenu.min.js') }}"></script>
		<!-- Wow Min JS -->
        <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
        <!-- Nice Select Min JS -->
		<script src="{{ url_for('static', filename='assets/js/nice-select.min.js') }}"></script>
        <!-- Magnific Popup Min JS -->
		<script src="{{ url_for('static', filename='assets/js/magnific-popup.min.js') }}"></script>
		<!-- Mixitup JS --> 
		<script src="{{ url_for('static', filename='assets/js/jquery.mixitup.min.js') }}"></script>
		<!-- Appear Min JS --> 
        <script src="{{ url_for('static', filename='assets/js/appear.min.js') }}"></script>
		<!-- Odometer Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/odometer.min.js') }}"></script>
		<!-- Range Slider Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/range-slider.min.js') }}"></script>
		<!-- Datepicker Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/bootstrap-datepicker.min.js') }}"></script>
		<!-- Form Validator Min JS -->
		<script src="{{ url_for('static', filename='assets/js/form-validator.min.js') }}"></script>
		<!-- Contact JS -->
		<script src="{{ url_for('static', filename='assets/js/contact-form-script.js') }}"></script>
		<!-- Ajaxchimp Min JS -->
		<script src="{{ url_for('static', filename='assets/js/ajaxchimp.min.js') }}"></script>
        <!-- Custom JS -->
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    </body>
</html>