<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="http://www.sucai8.cn/jquery/bootstrap-4.2.1.css">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.theme.default.min.css') }}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/boxicons.min.css') }}"> 
		<!-- Magnific Popup Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.min.css') }}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.min.css') }}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/odometer.min.css') }}">
		<!-- Date Picker CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/date-picker.min.css') }}">
		<!-- Muli Fonts Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/muli-fonts.css') }}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/images/favicon.png">
		<!-- Title -->
		<title>Jubi - Job Board HTML Template</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		{% include "/heng.html" %}

		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Employers Listing</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>
						<li class="active">Employers Listing</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Employers Listing Area -->
		<section class="employers-listing-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<ul class="shorting-menu">
							<li class="filter" data-filter="all">
								All
							</li>
		
							<li class="filter" data-filter=".a">
								A
							</li>
		
							<li class="filter" data-filter=".b">
								B
							</li>
		
							<li class="filter" data-filter=".c">
								C
							</li>  
		
							<li class="filter" data-filter=".d">
								D
							</li>
		
							<li class="filter" data-filter=".e">
								E
							</li> 
							<li class="filter" data-filter=".f">
								F
							</li> 
							<li class="filter" data-filter=".g">
								G
							</li> 
							<li class="filter" data-filter=".h">
								H
							</li> 
							<li class="filter" data-filter=".i">
								I
							</li> 
							<li class="filter" data-filter=".j">
								J
							</li> 
							<li class="filter" data-filter=".k">
								K
							</li> 
							<li class="filter" data-filter=".l">
								L
							</li> 
							<li class="filter" data-filter=".m">
								M
							</li> 
							<li class="filter" data-filter=".n">
								N
							</li> 
							<li class="filter" data-filter=".o">
								O
							</li> 
							<li class="filter" data-filter=".p">
								P
							</li> 
							<li class="filter" data-filter=".q">
								Q
							</li> 
							<li class="filter" data-filter=".r">
								R
							</li> 
							<li class="filter" data-filter=".s">
								S
							</li> 
							<li class="filter" data-filter=".t">
								T
							</li> 
							<li class="filter" data-filter=".u">
								U
							</li> 
							<li class="filter" data-filter=".v">
								V
							</li> 
							<li class="filter" data-filter=".w">
								W
							</li> 
							<li class="filter" data-filter=".x">
								X
							</li> 
							<li class="filter" data-filter=".y">
								Y
							</li> 
							<li class="filter" data-filter=".z">
								Z
							</li> 
						</ul>

						<div class="row">
							<div class="col-lg-6 col-md-6">
								<select>
									<option value="1">Full Time</option>
									<option value="2">Part Time</option>
									<option value="3">Night</option>
									<option value="4">Day</option>
									<option value="5">Evening</option>
								</select>	
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="show-page">
									<p>Show Per Page</p>
									<select>
										<option value="1">10</option>
										<option value="2">07</option>
										<option value="3">10</option>
										<option value="4">15</option>
										<option value="5">18</option>
									</select>	
								</div>
							</div>
						</div>
		
						<div class="shorting">
							<div class="row">
								<div class="col-12 mix a s c">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-1.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Finance & Accounts</a></h3>
													<span class="sub-title">Finix loans & funding agency</span>
													<ul>
														<li><span>Education:</span> BBA / M.A.</li>
														<li><span>Experience: </span>At Least 1 Year(s)</li>
														<li><span>Location: </span>New York</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 0</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>
				
								<div class="col-12 mix b r t">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-2.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Assistant Manager</a></h3>
													<span class="sub-title">Leve bank ltd</span>
													<ul>
														<li><span>Education:</span> BBA / M.A.</li>
														<li><span>Experience: </span>At Least 2 Year(s)</li>
														<li><span>Location: </span>Alaska</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 1</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>
				
								<div class="col-12 mix c q u">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-3.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Mechanical Engineer</a></h3>
													<span class="sub-title">Conzio construction</span>
													<ul>
														<li><span>Education:</span> B.Sc</li>
														<li><span>Experience: </span>At Least 1 Year(s)</li>
														<li><span>Location: </span>Washington</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 4</span>
											</div>
										</div>
										<span class="featured red">Urgent</span>
									</div>
								</div>
				
								<div class="col-12 mix d p v">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-4.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Teacher - English</a></h3>
													<span class="sub-title">Eduon education</span>
													<ul>
														<li><span>Education:</span> BBA / M.A.</li>
														<li><span>Experience: </span>At Least 2 Year(s)</li>
														<li><span>Location: </span>Florida</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 0</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>

								<div class="col-12 mix e o w">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-10.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Content Writing</a></h3>
													<span class="sub-title">Depan insider ltd</span>
													<ul>
														<li><span>Education:</span> BBA / M.A.</li>
														<li><span>Experience: </span>At Least 2 Year(s)</li>
														<li><span>Location: </span>Florida</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 0</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>

								<div class="col-12 mix f n x">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-5.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Sr./ Project Manager</a></h3>
													<span class="sub-title">Eduon education</span>
													<ul>
														<li><span>Education:</span> BBA / M.A.</li>
														<li><span>Experience: </span>At Least 2 Year(s)</li>
														<li><span>Location: </span>New York</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 1</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>

								<div class="col-12 mix g m y">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-6.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Support Executive</a></h3>
													<span class="sub-title">Saspol limited</span>
													<ul>
														<li><span>Education:</span> B.A.</li>
														<li><span>Experience: </span>At Least 2 Year(s)</li>
														<li><span>Location: </span>Alaska</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 1</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>

								<div class="col-12 mix h l z">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-7.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Research Assistant</a></h3>
													<span class="sub-title">Medq medical</span>
													<ul>
														<li><span>Education:</span> B.Sc</li>
														<li><span>Experience: </span>At Least 2 Year(s)</li>
														<li><span>Location: </span>Washington</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 5</span>
											</div>
										</div>
										<span class="featured red">Urgent</span>
									</div>
								</div>

								<div class="col-12 mix i k b">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-8.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Content Writing</a></h3>
													<span class="sub-title">Depan insider ltd</span>
													<ul>
														<li><span>Education:</span> BBA / M.A.</li>
														<li><span>Experience: </span>At Least 3 Year(s)</li>
														<li><span>Location: </span>Florida</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 1</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>
				
								<div class="col-12 mix j a f">
									<div class="hot-jobs-list">
										<div class="row align-items-center">
											<div class="col-lg-2">
												<a href="employers-details.html" class="hot-jobs-img">
													<img src="{{ url_for('static', filename='assets/images/hot-jobs/hot-jobs-9.png') }}" alt="Image">
												</a>
											</div>
					
											<div class="col-lg-5">
												<div class="hot-jobs-content">
													<h3><a href="employers-details.html">Sr. Manager</a></h3>
													<span class="sub-title">Seqty power ltd</span>
													<ul>
														<li><span>Education:</span> M.A.</li>
														<li><span>Experience: </span>At Least 5 Year(s)</li>
														<li><span>Location: </span>California</li>
													</ul>
												</div>
											</div>
					
											<div class="col-lg-5">
												<span class="open-job">Jobs  Open: 3</span>
											</div>
										</div>
										<span class="featured">Featured</span>
									</div>
								</div>
		
								<div class="col-12">
									<div class="pagination-area">
										<span class="page-numbers current" aria-current="page">1</span>
										<a href="#" class="page-numbers">2</a>
										<a href="#" class="page-numbers">3</a>
										
										<a href="#" class="next page-numbers">
											<i class="flaticon-right-arrow"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="employers-listing-sidebar">
							<h3>Search Company</h3>

							<form class="search-form">
								<div class="form-group">
									<div class="search-box">
										<input class="form-control" name="search" placeholder="Search..." type="text">
										<button class="search-button" type="submit">
											<i class="bx bx-search"></i>
										</button>
									</div>
								</div>

								<div class="form-group">
									<label>Category</label>
									<select>
										<option value="1">UX/UI Designer</option>
										<option value="2">Web Developer</option>
										<option value="3">Web Designer</option>
										<option value="4">Software Developer</option>
										<option value="5">SEO</option>
									</select>
								</div>

								<div class="form-group">
									<label>Location</label>
									<select>
										<option value="1">United Kingdom</option>
										<option value="2">Austria</option>
										<option value="3">Bahrain</option>
										<option value="4">Canada</option>
										<option value="5">Denmark</option>
										<option value="6">Germany</option>
									</select>
								</div>

								<button class="default-btn">
									Search
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Employers Listing Area -->

		<!-- Start Subscribe Area -->
		<section class="subscribe-area subscribe-area-about-page">
			<div class="container">
				<div class="subscribe-bg">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="subscribe-content">
								<h2>Find Your Next Great Job Opportunity!</h2>
							</div>
						</div>
	
						<div class="col-lg-6">
							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
	
								<button class="default-btn" type="submit">
									<span>Subscribe</span>
								</button>
	
								<div id="validator-newsletter" class="form-result"></div>
								<p>Join The Newsletter 10,000 Users Already!</p>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Subscribe Area -->

		{% include "/footer.html" %}

		<!-- Start Copy Right Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>
					© 2020 Jubi Is Proudly Created By
					<a href="#">EnvyTheme</a>
				</p>
			</div>
		</div>
		<!-- End Copy Right Area -->
		
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="bx bx-chevrons-up"></i>
			<i class="bx bx-chevrons-up"></i>
		</div>
		<!-- End Go Top Area -->
		

        <!-- Jquery Min JS -->
        <script src="http://www.sucai8.cn/jquery/jquery-1.10.2.js"></script>
        <!-- Popper Min JS -->
        <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
        <!-- Bootstrap Min JS -->
        <script src="http://www.sucai8.cn/jquery/bootstrap-4.2.1.js"></script>
        <!-- Meanmenu Min JS -->
		<script src="{{ url_for('static', filename='assets/js/meanmenu.min.js') }}"></script>
		<!-- Wow Min JS -->
        <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
        <!-- Nice Select Min JS -->
		<script src="{{ url_for('static', filename='assets/js/nice-select.min.js') }}"></script>
        <!-- Magnific Popup Min JS -->
		<script src="{{ url_for('static', filename='assets/js/magnific-popup.min.js') }}"></script>
		<!-- Mixitup JS --> 
		<script src="{{ url_for('static', filename='assets/js/jquery.mixitup.min.js') }}"></script>
		<!-- Appear Min JS --> 
        <script src="{{ url_for('static', filename='assets/js/appear.min.js') }}"></script>
		<!-- Odometer Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/odometer.min.js') }}"></script>
		<!-- Range Slider Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/range-slider.min.js') }}"></script>
		<!-- Datepicker Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/bootstrap-datepicker.min.js') }}"></script>
		<!-- Form Validator Min JS -->
		<script src="{{ url_for('static', filename='assets/js/form-validator.min.js') }}"></script>
		<!-- Contact JS -->
		<script src="{{ url_for('static', filename='assets/js/contact-form-script.js') }}"></script>
		<!-- Ajaxchimp Min JS -->
		<script src="{{ url_for('static', filename='assets/js/ajaxchimp.min.js') }}"></script>
        <!-- Custom JS -->
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    </body>
</html>