<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="http://www.sucai8.cn/jquery/bootstrap-4.2.1.css">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.theme.default.min.css') }}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/boxicons.min.css') }}"> 
		<!-- Magnific Popup Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.min.css') }}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.min.css') }}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/odometer.min.css') }}">
		<!-- Date Picker CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/date-picker.min.css') }}">
		<!-- Muli Fonts Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/muli-fonts.css') }}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/images/favicon.png">
		<!-- Title -->
		<title>Jubi - Job Board HTML Template</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		{% include "/heng.html" %}

		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>FAQ</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>
						<li class="active">FAQ</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start FAQ Area -->
		<section class="faq-area faq-area-about-page ptb-100">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="faq-accordion">
							<div class="faq-title">
								<h2>Frequently Asked Questions?</h2>
							</div>

							<ul class="accordion">
								<li class="accordion-item">
									<a class="accordion-title active" href="javascript:void(0)">
										<i class="bx bx-plus"></i>
										How Do I Post a Job?
									</a>
	
									<div class="accordion-content show">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis maxime alias deserunt dolore provident</p>
									</div>
								</li>

								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="bx bx-plus"></i>
										How Do I Edit or Remove a Job Posting?
									</a>
	
									<div class="accordion-content">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis maxime alias deserunt dolore provident</p>
									</div>
								</li>

								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="bx bx-plus"></i>
										How Long Will My Job Posting be Live?
									</a>
	
									<div class="accordion-content">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis maxime alias deserunt dolore provident</p>
									</div>
								</li>

								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="bx bx-plus"></i>
										How Can I Unsubscribe From Your Mailing List?
									</a>
	
									<div class="accordion-content">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis maxime alias deserunt dolore provident</p>
									</div>
								</li>

								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="bx bx-plus"></i>
										How Can I Change My Password?
									</a>
	
									<div class="accordion-content">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis maxime alias deserunt dolore provident</p>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="faq-img">
							<img src="{{ url_for('static', filename='assets/images/faq-img.png') }}" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End FAQ Area -->

		<!-- Start Subscribe Area -->
		<section class="subscribe-area subscribe-area-about-page">
			<div class="container">
				<div class="subscribe-bg">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="subscribe-content">
								<h2>Find Your Next Great Job Opportunity!</h2>
							</div>
						</div>
	
						<div class="col-lg-6">
							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
	
								<button class="default-btn" type="submit">
									<span>Subscribe</span>
								</button>
	
								<div id="validator-newsletter" class="form-result"></div>
								<p>Join The Newsletter 10,000 Users Already!</p>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Subscribe Area -->

		{% include "/footer.html" %}

		<!-- Start Copy Right Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>
					© 2020 Jubi Is Proudly Created By
					<a href="#">EnvyTheme</a>
				</p>
			</div>
		</div>
		<!-- End Copy Right Area -->
		
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="bx bx-chevrons-up"></i>
			<i class="bx bx-chevrons-up"></i>
		</div>
		<!-- End Go Top Area -->
		

        <!-- Jquery Min JS -->
        <script src="http://www.sucai8.cn/jquery/jquery-1.10.2.js"></script>
        <!-- Popper Min JS -->
        <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
        <!-- Bootstrap Min JS -->
        <script src="http://www.sucai8.cn/jquery/bootstrap-4.2.1.js"></script>
        <!-- Meanmenu Min JS -->
		<script src="{{ url_for('static', filename='assets/js/meanmenu.min.js') }}"></script>
		<!-- Wow Min JS -->
        <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
        <!-- Nice Select Min JS -->
		<script src="{{ url_for('static', filename='assets/js/nice-select.min.js') }}"></script>
        <!-- Magnific Popup Min JS -->
		<script src="{{ url_for('static', filename='assets/js/magnific-popup.min.js') }}"></script>
		<!-- Mixitup JS --> 
		<script src="{{ url_for('static', filename='assets/js/jquery.mixitup.min.js') }}"></script>
		<!-- Appear Min JS --> 
        <script src="{{ url_for('static', filename='assets/js/appear.min.js') }}"></script>
		<!-- Odometer Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/odometer.min.js') }}"></script>
		<!-- Range Slider Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/range-slider.min.js') }}"></script>
		<!-- Datepicker Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/bootstrap-datepicker.min.js') }}"></script>
		<!-- Form Validator Min JS -->
		<script src="{{ url_for('static', filename='assets/js/form-validator.min.js') }}"></script>
		<!-- Contact JS -->
		<script src="{{ url_for('static', filename='assets/js/contact-form-script.js') }}"></script>
		<!-- Ajaxchimp Min JS -->
		<script src="{{ url_for('static', filename='assets/js/ajaxchimp.min.js') }}"></script>
        <!-- Custom JS -->
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    </body>
</html>