<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget single-bg">
                    <a href="index.html" class="logo">
                        <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="图片">
                    </a>

                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consec tetur.</p>

                    <ul class="social-icon">
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>联系方式</h3>

                    <ul class="address">
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <span>电话：</span>
                            <a href="tel:+86-(010)-1234-567">+86 (010) 1234-567</a>
                        </li>
                        <li>
                            <i class="bx bx-envelope"></i>
                            <span>邮箱：</span>
                            <a href="mailto:fupeng888@beijingfup.freeqiye.com">fupeng888@beijingfup.freeqiye.com</a>
                        </li>
                        <li class="location">
                            <i class="bx bx-location-plus"></i>
                            <span>地址：</span>
                            北京市通州区梨园镇大稿村民委员会西200米京洲苑867号
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>有用资源</h3>

                    <ul class="import-link">
                        <li>
                            <a href="#">创建账户</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                        <li>
                            <a href="#">网站地图</a>
                        </li>
                        <li>
                            <a href="#">使用条款</a>
                        </li>
                        <li>
                            <a href="#">隐私中心</a>
                        </li>
                        <li>
                            <a href="#">博客</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>求职者</h3>

                    <ul class="import-link">
                        <li>
                            <a href="#">创建账户</a>
                        </li>
                        <li>
                            <a href="#">浏览职位</a>
                        </li>
                        <li>
                            <a href="#">上传简历</a>
                        </li>
                        <li>
                            <a href="#">公司简介</a>
                        </li>
                        <li>
                            <a href="#">国际职位</a>
                        </li>
                        <li>
                            <a href="#">常见问题</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>