<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="http://www.sucai8.cn/jquery/bootstrap-4.2.1.css">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.theme.default.min.css') }}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/boxicons.min.css') }}"> 
		<!-- Magnific Popup Min CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.min.css') }}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.min.css') }}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/odometer.min.css') }}">
		<!-- Date Picker CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/date-picker.min.css') }}">
		<!-- Muli Fonts Min CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/muli-fonts.css') }}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/images/favicon.png">
		<!-- Title -->
		<title>Jubi - Job Board HTML Template</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		{% include "/heng.html" %}

		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Freelancer</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>
						<li class="active">Freelancer</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Freelancer Area -->
		<section class="freelancer-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Top Freelancer</span>
					<h2>Hire Expert Freelancer</h2>
				</div>

				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-1.jpg') }}" alt="Image">
							<h3>James Hendrix</h3>
							<span class="profession">UX/UI Designer</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$75/hr</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-2.jpg') }}" alt="Image">
							<h3>Jean Burke</h3>
							<span class="profession">Software Engineer</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$99/hr</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-3.jpg') }}" alt="Image">
							<h3>David Guzman</h3>
							<span class="profession">Web Developer</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$50/hr</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-4.jpg') }}" alt="Image">
							<h3>Clarence Hart</h3>
							<span class="profession">Senior Executive</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$25/hr</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-5.jpg') }}" alt="Image">
							<h3>Anna Smith</h3>
							<span class="profession">Senior Marketer</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$65/hr</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-6.jpg') }}" alt="Image">
							<h3>Kulva Dew</h3>
							<span class="profession">Frontend Developer</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$75/hr</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-7.jpg') }}" alt="Image">
							<h3>Zeck De</h3>
							<span class="profession">UI/UX Designer</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$55/hr</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-freelancer">
							<img src="{{ url_for('static', filename='assets/images/freelancer/freelancer-8.jpg') }}" alt="Image">
							<h3>Alex Neth</h3>
							<span class="profession">Backend Developer</span>

							<ul>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
								<li>
									<i class="bx bxs-star"></i>
								</li>
							</ul>

							<a href="candidates-details.html" class="default-btn">
								View Details
							</a>

							<span class="per-hour">$99/hr</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Freelancer Area -->

		<!-- Start Subscribe Area -->
		<section class="subscribe-area subscribe-area-about-page">
			<div class="container">
				<div class="subscribe-bg">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="subscribe-content">
								<h2>Find Your Next Great Job Opportunity!</h2>
							</div>
						</div>
	
						<div class="col-lg-6">
							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
	
								<button class="default-btn" type="submit">
									<span>Subscribe</span>
								</button>
	
								<div id="validator-newsletter" class="form-result"></div>
								<p>Join The Newsletter 10,000 Users Already!</p>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Subscribe Area -->

		<!-- Start Footer Area -->
		<footer class="footer-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-footer-widget single-bg">
							<a href="index.html" class="logo">
								<img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Image">
							</a>

							<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consec tetur.</p>

							<ul class="social-icon">
								<li>
									<a href="#">
										<i class="bx bxl-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="bx bxl-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="bx bxl-linkedin-square"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="bx bxl-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="single-footer-widget">
							<h3>Contact</h3>

							<ul class="address">
								<li>
									<i class="bx bx-phone-call"></i>
									<span>Phone:</span>
									<a href="tel:+1-(514)-7939-357">+1 (514) 7939-357</a>
								</li>
								<li>
									<i class="bx bx-envelope"></i>
									<span>Email:</span>
									<a href="mailto:hello@jubi.com">hello@jubi.com</a>
								</li>
								<li class="location">
									<i class="bx bx-location-plus"></i>
									<span>Address:</span>
									6890 Blvd, The Bronx, NY 1058 New York, USA
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="single-footer-widget">
							<h3>Helpful Resources</h3>

							<ul class="import-link">
								<li>
									<a href="#">Create Account</a>
								</li>
								<li>
									<a href="#">Contact Us</a>
								</li>
								<li>
									<a href="#">Site Map</a>
								</li>
								<li>
									<a href="#">Terms of Use</a>
								</li>
								<li>
									<a href="#">Privacy Centre</a>
								</li>
								<li>
									<a href="#">Blog</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="single-footer-widget">
							<h3>Job Seekers</h3>

							<ul class="import-link">
								<li>
									<a href="#">Create Account</a>
								</li>
								<li>
									<a href="#">Browse Jobs</a>
								</li>
								<li>
									<a href="#">Upload CV</a>
								</li>
								<li>
									<a href="#">Company Profile</a>
								</li>
								<li>
									<a href="#">International Jobs</a>
								</li>
								<li>
									<a href="#">FAQ</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

		<!-- Start Copy Right Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>
					© 2020 Jubi Is Proudly Created By
					<a href="#">EnvyTheme</a>
				</p>
			</div>
		</div>
		<!-- End Copy Right Area -->
		
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="bx bx-chevrons-up"></i>
			<i class="bx bx-chevrons-up"></i>
		</div>
		<!-- End Go Top Area -->
		

        <!-- Jquery Min JS -->
        <script src="http://www.sucai8.cn/jquery/jquery-1.10.2.js"></script>
        <!-- Popper Min JS -->
        <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
        <!-- Bootstrap Min JS -->
        <script src="http://www.sucai8.cn/jquery/bootstrap-4.2.1.js"></script>
        <!-- Meanmenu Min JS -->
		<script src="{{ url_for('static', filename='assets/js/meanmenu.min.js') }}"></script>
		<!-- Wow Min JS -->
        <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
        <!-- Nice Select Min JS -->
		<script src="{{ url_for('static', filename='assets/js/nice-select.min.js') }}"></script>
        <!-- Magnific Popup Min JS -->
		<script src="{{ url_for('static', filename='assets/js/magnific-popup.min.js') }}"></script>
		<!-- Mixitup JS --> 
		<script src="{{ url_for('static', filename='assets/js/jquery.mixitup.min.js') }}"></script>
		<!-- Appear Min JS --> 
        <script src="{{ url_for('static', filename='assets/js/appear.min.js') }}"></script>
		<!-- Odometer Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/odometer.min.js') }}"></script>
		<!-- Range Slider Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/range-slider.min.js') }}"></script>
		<!-- Datepicker Min JS --> 
		<script src="{{ url_for('static', filename='assets/js/bootstrap-datepicker.min.js') }}"></script>
		<!-- Form Validator Min JS -->
		<script src="{{ url_for('static', filename='assets/js/form-validator.min.js') }}"></script>
		<!-- Contact JS -->
		<script src="{{ url_for('static', filename='assets/js/contact-form-script.js') }}"></script>
		<!-- Ajaxchimp Min JS -->
		<script src="{{ url_for('static', filename='assets/js/ajaxchimp.min.js') }}"></script>
        <!-- Custom JS -->
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    </body>
</html>