<header class="header-area">
    <!-- Start Top Header -->
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="header-left-content">
                        <li>
                            <span>Hot Line</span>
                            <a href="tel:+86-(010)-123-5678">+86 (010) 123-5678</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-right-content">
                        <ul class="language">
                            <li>
                                <div class="dropdown language-btn">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
												<span>
													Language
													<i class="bx bx-chevron-down"></i>
												</span>
                                    </button>

                                    <div class="dropdown-menu">
                                        <a href="{{ url_for('set_language', language='en') }}" class="dropdown-item">
                                            <img src="{{ url_for('static', filename='assets/images/language/english.png') }}" alt="Flag">
                                            <span>English</span>
                                        </a>

                                        <a href="{{ url_for('set_language', language='zh') }}" class="dropdown-item">
                                            <img src="{{ url_for('static', filename='assets/images/language/china.png') }}" alt="Flag">
                                            <span>简体中文</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>




                        {% if 'username' in session %}
                        <ul class="log-in">
                            <li>
                                <a >
                                    <i class="bx bxs-lock"></i>
                                    {{ session['username'] }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('logout') }}">
                                    <i class="bx bxs-user"></i>
                                    logout
                                </a>
                            </li>

                        </ul>

                        {% else %}
                        <!-- 未登录状态 -->
                        <ul class="log-in">
                            <li>
                                <a href="login">
                                    <i class="bx bxs-lock"></i>
                                    Log In
                                </a>
                            </li>

                            <li>
                                <a href="register">
                                    <i class="bx bxs-user"></i>
                                    Register
                                </a>
                            </li>
                        </ul>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Top Header -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-nav">
            <div class="container">
                <div class="mobile-menu">
                    <div  class="logo">
                        <a href="index.html">
                            <img style="height: 80px" src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Home
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link active">Home</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Jobs
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="job-listing.html" class="nav-link">Job Listing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="post-job.html" class="nav-link">Post A Job</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="job-details.html" class="nav-link">Job Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Candidates
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="candidates-listing.html" class="nav-link">Candidates Listing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="candidates-details.html" class="nav-link">Candidates Details</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Candidate Dashboard
                                            <i class="bx bx-chevron-down"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="dashboard.html" class="nav-link">Dashboard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="profile.html" class="nav-link">Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="resume.html" class="nav-link">Resume</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="bookmarks.html" class="nav-link">Bookmarks</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="applied-jobs.html" class="nav-link">Applied Jobs</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="alert-jobs.html" class="nav-link">Alert Jobs</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="message.html" class="nav-link">Message</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="change-password.html" class="nav-link">Change Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Employers
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="employers-listing.html" class="nav-link">Employers Listing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="employers-details.html" class="nav-link">Employers Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Pages
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about-us.html" class="nav-link">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Blog
                                            <i class="bx bx-chevron-down"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="blog.html" class="nav-link">Blog</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog-details.html" class="nav-link">Blog Details</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="contact-us.html" class="nav-link">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="log-in-register.html" class="nav-link">Log In / Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="freelancer.html" class="nav-link">Freelancer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">Testimonials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">404 Error Page</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <div class="others-option">
                            <div class="get-quote">
                                <a href="post-job.html" class="default-btn">
                                    Post a Job
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="get-quote">
                                <a href="post-job.html" class="default-btn">
                                    Post a Job
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>